-r requirements.txt
ptvsd==4.3.2
pylint==2.11.1
autopep8==1.6.0
coverage==6.1.1
pre-commit==2.15.0
tox==3.24.4
pytest==6.2.5
flake8-django==1.1.2
pylint-django==2.4.4
black==21.10b0
pep8
coveralls

sphinx
recommonmark