-r requirements.txt
ptvsd==4.3.2
pylint==2.4.2
autopep8==1.4.4
coverage==4.5.4
pre-commit==1.18.3
tox==3.14.0
pytest==5.2.0
flake8-django
pylint-django==2.0.11
black==19.3b0
pep8
coveralls

sphinx
recommonmark