-r requirements.txt
ptvsd==4.3.2
pylint==2.4.4
autopep8==1.5.1
coverage==5.0.4
pre-commit==2.2.0
tox==3.14.6
pytest==5.4.1
flake8-django
pylint-django==2.0.14
black==19.10b0
pep8==1.7.1
coveralls==1.11.1

sphinx
recommonmark